<div class="painel contacto">

    <div class="contacto-conteudo">

        <span class="eyebrow">
            CONTACTO
        </span>

        <h2>Contacto</h2>

        <p>info@katybatista.com</p>

        <p>instagram.com/katybatista</p>

        <p>Abrir no Spotify</p>

        <p>Abrir no YouTube</p>

    </div>

    <div class="contacto-imagem">

        <img
            src="/images/contacto.jpg"
            alt="Contacto">

    </div>

</div>