<div class="painel licenciamento">

    <span class="eyebrow">
        LICENCIAMENTO
    </span>

    <h2>Licenciamento</h2>

    <p>
        Uma obra não termina quando é publicada. É aí que começa o seu percurso.

        Algumas encontrarão um intérprete.

        Outras uma banda sonora.

        Outras um palco.

        Outras uma nova língua.

        Todas permanecem disponíveis para novas interpretações, adaptações e licenciamento.
    </p>

    <div class="lista">

    <div>

        <span>Intérpretes</span>
        <span>Editoras</span>
        <span>Sincronização</span>

    </div>

    <div>

        <span>Televisão</span>
        <span>Publicidade</span>
        <span>Projetos Internacionais</span>
        <span>Cinema</span>

    </div>

</div>