<div class="painel licenciamento">

    <span class="eyebrow">
        LICENCIAMENTO
    </span>

    <h2>Licenciamento</h2>

    <p>
        Algumas obras procuram apenas um intérprete.
        Outras procuram um filme.
        Uma série.
        Uma campanha.
        Ou simplesmente a voz certa.
    </p>

    <div class="lista">

    <div>

        <span>Intérpretes</span>
        <span>Editoras</span>
        <span>Sincronização</span>

    </div>

    <div>

        <span>Televisão</span>
        <span>Publicidade</span>
        <span>Projetos Internacionais</span>
        <span>Cinema</span>

    </div>

</div>