<div class="painel projeto">

    <div class="projeto-conteudo">

        <span class="eyebrow">
            O PROJETO
        </span>

        <p>
            Cada canção nasce primeiro como obra.
        </p>

        <p>
            Antes de existir uma voz existe uma composição.
        </p>

        <p>
            Cada obra pode encontrar diferentes intérpretes,
            diferentes idiomas e diferentes culturas,
            permanecendo sempre fiel à sua essência.
        </p>

    </div>

    <div class="projeto-imagem">

        <img
            src="/images/projeto.jpg"
            alt="Projeto">

    </div>

</div>