---
import Autora from "./Autora.astro";
import Fotoautora from "./Fotoautora.astro";
import Projeto from "./Projeto.astro";
import Licenciamento from "./Licenciamento.astro";
import Contacto from "./Contacto.astro";
---

<section id="sobre" class="sobre">

    <div class="sobre-grid">

        <Autora />

        <Fotoautora />

        <Projeto />

        <Licenciamento />

        <Contacto />

    </div>

</section>